<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>your number is : <%= randNum %>
    </h1>
    <% if(randNum==6){ %>
        <h1>Well done</h1>
        <% } else{ %>
            <h1>try again.</h1>
            <% } %>
</body>

</html>